@use '../base/' as *;

@mixin btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Source Sans 600';

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

@mixin btn-color ($bg-clr, $text-clr) {
  background-color: $bg-clr;
  color: $text-clr;

  transition: all .1s ease;

    &:hover {
      background-color: lighten($bg-clr, 5);
    }

    &:active {
      background-color: $bg-clr;
    }
}

.btn {
  @include btn;
}

.btn-m {
  @include btn;
  padding: $spacer-xxs $spacer-s;
}

.btn-s {
  @include btn;
  padding: 0 $spacer-xxs;
}

.btn-accent {
  @include btn-color($clr-accent, $clr-black);
}

.btn-secondary {
  @include btn-color($clr-secondary, $clr-white);
}
