@use '../base/' as *;

.btn {
  border: none;
  border-radius: 10px;
  padding: $spacer-xxs $spacer-s;
  cursor: pointer;

  font-family: 'Source Sans 600';
}

@mixin btn-color ($bg-clr, $text-clr) {
  background-color: $bg-clr;
  color: $text-clr;

  transition: all .1s ease;

    &:hover {
      background-color: lighten($bg-clr, 5);
    }

    &:active {
      background-color: $bg-clr;
    }
}

.btn-accent {
  @include btn-color($clr-accent, $clr-black);
}

.btn-secondary {
  @include btn-color($clr-secondary, $clr-white);
}
