@use '../base/' as *;

.header {
  background-color: $clr-primary;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: $spacer-s;

    &__logo {
      font-family: 'Source Sans 700';
      font-size: $fs-l;
    }

    &__items {
      font-family: 'Source Sans 600';
      font-size: $fs-m;

      display: flex;
      gap: $spacer-xs;
    }

    &__item {
      transition: all .2s ease;

        &:hover {
          color: $clr-accent;
        }
    }


    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

}
