@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'Source Sans 600';
  src: url('/src/assets/fonts/Source-Sans/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'Source Sans 700';
  src: url('/src/assets/fonts/Source-Sans/SourceSansPro-Bold.ttf');
}
