@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}
