@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'Nobile-Bold';
  src: url('/src/assets/fonts/Nobile/Nobile-Bold.ttf');
}

@font-face {
  font-family: 'Nobile-Medium';
  src: url('/src/assets/fonts/Nobile/Nobile-Medium.ttf');
}

@font-face {
  font-family: 'Nobile-Regular';
  src: url('/src/assets/fonts/Nobile/Nobile-Regular.ttf');
}
