//* Font size

$fs-xxl: 5rem;
$fs-xl: 4rem;
$fs-l: 3rem;
$fs-m: 1.5rem;
$fs-s: 1rem;
$fs-xs: .7rem;



//* Spacers

$spacer-xxl: 8rem;
$spacer-xl: 5rem;
$spacer-l: 4rem;
$spacer-m: 2.5rem;
$spacer-s: 1.5rem;
$spacer-xs: 1rem;
$spacer-xxs: .7rem;



//* Colors

$clr-primary: #FEF9EF;
$clr-secondary: #A2D2FF;
$clr-accent: #FF865E;
