@use '../base/' as *;

.add-recipe {

  margin: $spacer-s auto $spacer-l auto;
  padding: $spacer-s $spacer-m;
  background-color: $clr-white;
  border-radius: 15px;
  max-width: 800px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  display: flex;
  flex-direction: column;
  gap: $spacer-m;

    &__header {
      align-self: center;
      font-family: 'Source Sans 700';
      font-size: $fs-l;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacer-xs;
    }

    &__title {
      font-family: 'Source Sans 600';
      font-weight: 600;
      font-size: $fs-m;

      margin: 0;
      text-align: center;
    }

    &__name,
    &__description,
    &__ingredients,
    &__ingredient,
    &__instructions {
      
      font-family: 'Inter';
      font-size: $fs-s;
      line-height: 1.5;
    }

    &__items {
      margin-bottom: $spacer-s;
      padding: 0;
    }

    &__ingredients {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__ingredient {
      display: flex;
      gap: $spacer-xxs;
    }

    &__ingredient-qty {
      max-width: 60px;
    }

    &__button {
      align-self: center;
    }

}
