@use '../base/' as *;

.add-recipe {

  margin: $spacer-s auto $spacer-l auto;
  padding: $spacer-s $spacer-m;
  background-color: $clr-primary;
  border-radius: 15px;
  max-width: 50rem;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  display: flex;
  flex-direction: column;
  gap: $spacer-m;

    textarea,
    input {
      border: none;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      background-color: $clr-white;
      resize: none;

        &:focus,
        &:active {
          outline: 2px solid $clr-secondary;
        }
    }

    &__description,
    &__instructions {
      padding: $spacer-xs $spacer-xxs;
    }

    &__ingredient-name,
    &__ingredient-qty {
      padding: .2rem .5rem;
      text-align: center;
    }

    &__name {
      text-align: center;
      align-self: center;
      width: clamp(10rem, 25rem, 100%);
    }

    &__header {
      align-self: center;
      font-family: 'Source Sans 700';
      font-size: $fs-l;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacer-xs;
    }

    &__wrapper--row {
      display: flex;
      flex-direction: row;
      gap: $spacer-xs;
    }

    &__title {
      font-family: 'Source Sans 600';
      font-weight: 600;
      font-size: $fs-m;

      margin: 0;
      text-align: center;
    }

    &__items {
      padding: 0;
      margin: $spacer-m 0 0 0;
      list-style: none;

      display: flex;
      flex-direction: column;
      gap: $spacer-xs;
    }
    
    &__item {
      padding: .2rem .5rem;
      background-color: $clr-white;

      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

      width: clamp(90%, 25rem, 35rem);

        &:not(:first-child) {
          margin-top: $spacer-s;
        }
    }

    &__ingredients {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__ingredient {
      margin-top: $spacer-s;
      display: flex;
      gap: $spacer-xxs;
    }

    &__ingredient-qty {
      max-width: 60px;
    }

    &__button {
      align-self: center;
    }

    &__name,
    &__description,
    &__ingredients,
    &__ingredient,
    &__instructions {
      
      font-family: 'Inter';
      font-size: $fs-s;
      line-height: 1.5;
    }


    //* ============================
    //* Ingredient list animation
    //* ============================

    .list-enter-active,
    .list-leave-active,
    .list-move {
      transition: all .2s ease;
    }

    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(-30px);
    }

    .list-leave-active {
      position: absolute;
    }
}
