@use '../base/' as *;

.home {
  margin-block: $spacer-m;

  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    margin-top: $spacer-s;
    
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacer-xs;
  }

  &__wrapper {

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__add-button {
    align-self: flex-end;
    margin-top: $spacer-s;
  }

  &__search {
    font-family: 'Inter';
    
    align-self: center;
    width: clamp(10rem, 35rem, 90%);
    min-height: 2rem;

    padding-inline: $spacer-xs;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

      &:focus,
      &:active {
        outline: 2px solid $clr-secondary;
      }
  }
}
