@use '../base/' as *;

.recipe {
  margin: $spacer-l auto $spacer-l auto;
  padding: $spacer-s $spacer-m;
  background-color: $clr-primary;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  max-width: 800px;

    &__ingredients {
      padding-block: $spacer-s;
      margin: $spacer-xs 0 $spacer-m 0;
      border-block: 2px solid $clr-black;
    }



    //* ==================
    //* Typography
    //* ==================

    &__title {
      font-family: 'Source Sans 700';
      font-size: $fs-l;
      text-align: center;
    }

    &__ingredients-tile {
      font-family: 'Source Sans 700';
      font-size: $fs-m;
    }

    &__description,
    &__ingredients,
    &__instructions {
      font-family: 'Inter';
      font-size: $fs-s;
      line-height: 1.5;
      font-weight: 400;
    }
}
